<%- include('../partials/header') %>

<section id="user-header">
    <h2>Hello, <%= user %>,</h2>
    <p>welcome back to party chat.</p>
</section>

<section id="user-body">
    There will be links here eventually.
</section>



<%- include('../partials/footer') %>