<%- include('./partials/header') %>

<section>
    <h2>Profile</h2>
    <div class="profile" id="name"></div>
    <div class="profile" id="age"></div>
    <div class="profile" id="location"></div>
    <div class="profile" id="likes"></div>
    <div class="profile" id="dislikes"></div>
    <div class="profile" id="favorite-books"></div>
    <div class="profile" id="favorite-movies"></div>
    <div class="profile" id="favorite-music"></div>
    <div class="profile" id="favorite-quote"></div>
</section>

<%- include('./partials/footer') %>
