<%- include('./partials/header') %>

<section>
    <h2>Profile</h2>
    <div class="profile" id="name"></div>
    <div class="profile" id="age"></div>
    <div class="profile" id="location"></div>
    <div class="profile" id="likes"></div>
    <div class="profile" id="dislikes"></div>
    <div class="profile" id="faveBooks"></div>
    <div class="profile" id="faveMovies"></div>
    <div class="profile" id="faveMusic"></div>
    <div class="profile" id="faveQuote"></div>
</section>

<%- include('./partials/footer') %>
