body {
  padding: 5vmin;
  font-family: 'Titillium Web', sans-serif;
  background-color: #c0f6ff;
  color: #35447c
}

a {
  color: #35447c;
  padding: 1vmin;
}

nav {
  height: 5vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2vmin;
  width: 100%;
}

table {
  display: block;
  overflow: auto;
  overflow-anchor: none;
  height: 80vmin;
}

.anchor {
  overflow-anchor: auto;
}

tr:nth-child(even) {
  background-color: #ffedc5;
}

.header-logo {
  margin-right: auto;
  height: 15vmin;
  margin-left: -5vmin;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login > img {
  height: 30px;
}

.fancy {
  font-family: 'Satisfy', cursive;
}

.chat-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffedc5;
  width: 100vmin;
  margin-top: 10vmin;
  height: 60vmin;
  font-size: large;
  border: 1vmin solid #35447c;
  border-radius: 10px;
}

.chat-selection > div {
  background-color: #ffebbd;
  text-align: center;
  height: 7vmin;
  padding: 3vmin 13vmin;
}