body {
  padding: 5vmin;
  font-family: 'Titillium Web', sans-serif;
  background-color: #c0f6ff;
  color: #35447c
}

a {
  color: #35447c;
  padding: 1vmin;
}

nav {
  height: 5vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2vmin;
  width: 100%;
}

.anchor {
  overflow-anchor: auto;
}

tr:nth-child(even) {
  background-color: #ffedc5;
}

.header-logo {
  margin-right: auto;
  height: 15vmin;
  margin-left: -5vmin;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login > img {
  height: 30px;
}

.fancy {
  font-family: 'Satisfy', cursive;
}

.chat-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffedc5;
  width: 100vmin;
  margin-top: 10vmin;
  height: 60vmin;
  font-size: large;
  border: 1vmin solid #35447c;
  border-radius: 10px;
}

.chat-selection > div {
  background-color: #ffebbd;
  text-align: center;
  height: 7vmin;
  padding: 3vmin 13vmin;
}

.Home {
  background-image: url('/images/homebg.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
}

.beach-bbq {
  background-image: url(/images/beach-bbq.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.beach-bbq > #chat-header {
  margin: 5vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.beach-bbq > section {
  margin: auto;
  background-color: #c0f6ff;
  height: fit-content;
  align-items: center;
  width: 90vh;
}
.beach-bbq > form {
  align-items: center;
}
.beach-bbq > input {
  align-items: center;
  width: 80vh;
}
.beach-bbq > #time {
  align-items: left;
  font-size: small;
  width: 10vh;
}
.beach-bbq > #name {
  align-items: left;
  font-size: medium;
  width: 20vh;
}
.beach-bbq > #msg {
  align-items: left;
  width: 65vh;
}
.beach-bbq > .header-logo {
  border: solid white
}