body {
  padding: 5vmin;
  font-family: 'Titillium Web', sans-serif;
  background-color: #c0f6ff;
  color: #35447c
}

a {
  color: #35447c;
  padding: 1vmin;
}

nav {
  height: 5vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2vmin;
  width: 100%;
}

.anchor {
  overflow-anchor: auto;
}

tr:nth-child(even) {
  background-color: #ffedc5;
}

.header-logo {
  margin-right: auto;
  height: 15vmin;
  margin-left: -5vmin;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login > img {
  height: 30px;
}

.fancy {
  font-family: 'Satisfy', cursive;
}

.chat-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffedc5;
  width: 100vmin;
  margin-top: 10vmin;
  height: 60vmin;
  font-size: large;
  border: 1vmin solid #35447c;
  border-radius: 10px;
}

.chat-selection > div {
  background-color: #ffebbd;
  text-align: center;
  height: 7vmin;
  padding: 3vmin 13vmin;
}

.Home {
  background-image: url('/images/homebg.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
}

.beach-bbq {
  background-image: url(/images/beach-bbq.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.beach-bbq > h3 {
  margin: 5vh;
  text-align: center;
}
.beach-bbq > section {
  margin: auto;
  background-color: #c0f6ff;
  height: fit-content;
  align-items: center;
  width: 90vh;
}
.beach-bbq > form {
  align-items: center;
}
.beach-bbq > input {
  align-items: center;
  width: 80vh;
}
.beach-bbq > #time {
  align-items: left;
  font-size: small;
  width: 10vh;
}
.beach-bbq > #name {
  align-items: left;
  font-size: medium;
  width: 20vh;
}
.beach-bbq > #msg {
  align-items: left;
  width: 65vh;
}
.beach-bbq > nav > .header-logo {
  border: solid white
}

.draculas-castle {
  background-image: url(/images/draculas-castle.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.draculas-castle > h3 {
  margin-top: 5vh;
  color: #582a3b;
  text-align: center;
}

.draculas-castle > section {
  margin: auto;
  background-color: #d3b9c4;
  height: fit-content;
  align-items: center;
  width: 90vh;
}
.draculas-castle > form {
  align-items: center;
}
.draculas-castle > input {
  align-items: center;
  width: 80vh;
}
.draculas-castle > #time {
  align-items: left;
  font-size: small;
  width: 10vh;
}
.draculas-castle > #name {
  align-items: left;
  font-size: medium;
  width: 20vh;
}
.draculas-castle > #msg {
  align-items: left;
  width: 65vh;
}
.draculas-castle > nav > .header-logo {
  border: solid #060501
}

.galactic-unicorn {
  background-image: url(/images/galactic-unicorn.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.galactic-unicorn > h3 {
  margin: 5vh;
  text-align: center;
}
.galactic-unicorn > section {
  margin: auto;
  background-color: #c0f6ff;
  height: fit-content;
  align-items: center;
  width: 90vh;
}
.galactic-unicorn > form {
  align-items: center;
}
.galactic-unicorn > input {
  align-items: center;
  width: 80vh;
}
.galactic-unicorn > #time {
  align-items: left;
  font-size: small;
  width: 10vh;
}
.galactic-unicorn > #name {
  align-items: left;
  font-size: medium;
  width: 20vh;
}
.galactic-unicorn > #msg {
  align-items: left;
  width: 65vh;
}
.galactic-unicorn > nav > .header-logo {
  border: solid white
}

.possum-porch {
  background-image: url(/images/possum-porch.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.possum-porch h3 {
  margin: 5vh;
  text-align: center;
}
.possum-porch section {
  margin: auto;
  background-color: #c0f6ff;
  height: fit-content;
  align-items: center;
  width: 90vh;
}
.possum-porch form {
  align-items: center;
}
.possum-porch input {
  align-items: center;
  width: 80vh;
}
.possum-porch #time {
  align-items: left;
  font-size: small;
  width: 10vh;
}
.possum-porch #name {
  align-items: left;
  font-size: medium;
  width: 20vh;
}
.possum-porch #msg {
  align-items: left;
  width: 65vh;
}
.possum-porch .header-logo {
  border: solid #060501
}

.wizards-tower {
  background-image: url(/images/wizards-tower.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.wizards-tower > h3 {
  color: white;
  margin: 5vh;
  text-align: center;
}
.wizards-tower > section {
  margin: auto;
  background-color: #fda918;
  height: fit-content;
  align-items: center;
  width: 90vh;
}
.wizards-tower > form {
  align-items: center;
}
.wizards-tower > table > tr {
  align-items: center;
  background-color: #fda918;
}
.wizards-tower > input {
  align-items: center;
  width: 80vh;
}
.wizards-tower > #time {
  background-color: #fda918;
  align-items: left;
  font-size: small;
  width: 10vh;
}
.wizards-tower > #name {
  background-color: #fda918;
  align-items: left;
  font-size: medium;
  width: 20vh;
}
.wizards-tower > #msg {
  background-color: #fda918;
  align-items: left;
  width: 65vh;
}
.wizards-tower > nav > .header-logo {
  border: solid #060501
}

.wizards-tower > nav > a {
  color: white;
}