<%- include('../partials/header') %>

<table>
    <td class="anchor">
        <form action="/chats/beach-bbq/" method="POST">
            <textarea name="message"></textarea>
            <button type="submit">SEND</button>
        </form>
    </td>
</table>

<%- include('../partials/footer') %>