<%- include('../partials/header') %>

<section>
    <div>Beach BBQ</div>
    <div>Dracula's Castle</div>
    <div>Galactic Unicorn</div>
    <div>Possum Patio</div>
    <div>Wizard's Tower</div>
</section>

<%- include('../partials/footer') %>

